
.iframe-header {
    position: block;
    width: 100%;
    height: 11vh;
    background-color: #06143A;
    border: none;
}
body, html {   
    margin: 0;
    padding: 0;
    background-color: #06143A;
}
.iframe-nav {
    position: sticky;
    width: 100%;
    height: 5vh;
    background-color: #374b83;
    border: none;
    margin-top: -4px;
}
.iframe-main{
    width: 100%;
    height: 83vh;
    border: none
}
