a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    display: flex;
}
nav {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    margin-top: -27px;
    gap: 40px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.left {
    margin-top: -26px;
    display: flex;
    align-items: start;
    justify-content: start;
}
  